body {
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navbar {
    overflow: hidden;
    background-color: #294a55;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titre-auth {
    color: #fff;
    padding-left: 5vh;
}

.container-authentification {
    background-color: #ffffff;
    border-radius: 10px;
    height: 100%;
    width: 300px;
    margin: auto;
    margin-top: 15%;
    padding: 25px;
    text-align: center;
}

.title-login {
    color: black;
}

.identifiant {
    margin-top: 8vh;
}

.password {
    margin: 8vh;
}

.button_auth {
    background-color: #294a55;
    border-radius: 6px;
    width: 70%;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 1.5vh;
}

/* Page d'accueil */

.nav-a {
    color: white;
}

.wrap {
    width: 1000px;
    margin: auto;
    margin-top: 35vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.6);
    transition: 0.4s;
    width: 300px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    float: left;
    margin: 2vh;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.card-text {
    margin: 20px;
}

.icon-card {
    margin-top: 25px;
}

/* Create Table */

#create-table, #create-tr, #create-td {
    margin: auto;
}

.create-text-eval {
    border-collapse: collapse;
}

.container-btn-eval {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin: 10px;
    margin-top: 20vh!important;
    margin: auto;
}

.btn-add {
    background-color: rgb(9, 156, 9);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 8px;
    width: 20vh;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #ffffff;
    color: rgb(9, 156, 9);
    border: solid 1.5px rgb(9, 156, 9);
    transition: 1s;
}

.btn-del {
    background-color: rgb(155, 46, 13);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 8px;
    width: 20vh;
    cursor: pointer;
}

.btn-del:hover {
    background-color: #ffffff;
    color: rgb(155, 46, 13);
    border: solid 1.5px rgb(155, 46, 13);
    transition: 1s;
}

/* Page BLOC COMPÉTENCES */

.list-bloc {
    margin-top: 15vh;
    width: 30%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    padding: 20px;
    background-color: #294a55;
    color: #ffffff;
    border-radius: 8px 8px 0 0;
}

.list-bloc:hover {
    background-color: #3e7081;
    color: #ffffff;
}

.liste-bloc-select {
    background-color: #294a55;
}

